@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?j8a43c');
  src:  url('fonts/icons.eot?j8a43c#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?j8a43c') format('truetype'),
    url('fonts/icons.woff?j8a43c') format('woff'),
    url('fonts/icons.svg?j8a43c#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-OK:before {
  content: "\e900";
  color: #fff;
}
._icon-Arrow:before {
  content: "\e901";
  color: #4a4a4a;
}
._icon-Burger:before {
  content: "\e902";
  color: #fff;
}
._icon-Facebook:before {
  content: "\e903";
  color: #fff;
}
._icon-Search:before {
  content: "\e904";
  color: #fff;
}
._icon-Seller:before {
  content: "\e905";
}
._icon-VK:before {
  content: "\e906";
  color: #fff;
}
